body {
    color: white;
}

.gallery_container {
    width: 1000px;
}

.gallery_item {
    position: absolute;
    max-width: 250px;
    max-height: 250px;
    width: 30%;
    height: 30%;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.rating {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 10px;
    line-height: 30px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    background: white;
    color: black;
}

.image {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}
